amqp==5.0.2
anyjson==0.3.3
asgiref==3.3.1
baidu-aip==2.2.18.0
billiard==3.6.3.0
celery==5.0.5
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
cryptography==3.2.1
Django==2.2
djangorestframework==3.12.2
dnspython==1.16.0
eventlet==0.30.0
greenlet==0.4.17
httpie==2.3.0
idna==2.10
importlib-metadata==3.4.0
kombu==5.0.2
numpy==1.19.5
pika==1.1.0
prompt-toolkit==3.0.10
psycopg2-binary==2.8.6
pycparser==2.20
Pygments==2.7.3
PyJWT==2.0.0
PySocks==1.7.1
pytz==2020.5
redis==3.5.3
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.0
